{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  {{super()}}
  <a href="{{ url_for('simplelogin.logout') }}"
  class="logout btn btn-dange">
    Log Out
  </a>

  {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
{{ form.hidden_tag() }}
  <hr>
  <pre><code id='terminal'>#
</code></pre>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(function () {
      var runningProgramID = '{{runningProgramID}}';
      if(runningProgramID){
        console.log(runningProgramID);
        $.getJSON({url: "/runningProgram/" + runningProgramID, success: function(result){
          if (result.status == 'ok') {
            $("#terminal").html(result.content);
          }
        }});
      }

    });
  </script>
{% endblock %}
